@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app,
.app_modal {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
