.Sidebar {
    background: var(--inverted-bg-color);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: width 0.3s;
    width: var(--sidebar-width);
}

.switchers {
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapsedBtn {
    bottom: 40px;
    position: absolute;
    right: -32px;
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.item {
    align-items: center;
    display: flex;
    margin-top: 10px;
}

.link {
    margin-left: 10px;
    transition: 0.2s opacity;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        align-items: center;
        flex-direction: column;
    }

    .lang {
        margin-left: 0;
    }
}
