.ArticleViewSelector {
    .notSelected {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {

}
.iconRedesigned{
    fill: var(--icon-redesigned);
}
.notSelectedRedesigned {
    fill: var(--light-bg-redesigned);
}
