.app_blue_theme {
    --bg-color: #1884cd;
    --inverted-bg-color: #f4f8fb;
    --primary-color: #f4f8fb;
    --secondary-color: #14a98e;
    --inverted-primary-color: #14a98e;
    --inverted-secondary-color: #f4f8fb;
}
